<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>inside</servlet-name>
        <servlet-class>com.ramram.inside</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>inside</servlet-name>
        <url-pattern>/inside</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>Register.jsp</welcome-file>
    </welcome-file-list>

</web-app>
